body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  color: #EEE;
  
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

header {
  /* photo by sergey-zolkin */
  background-attachment: fixed;
  background-image: url('header/sergey-zolkin-keyboard.jpg');
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.header-wrapper {
  background:rgba(0, 0, 0, 0.65)
}

#full-page {
  max-width: 2000px;
  margin: auto;
}

.flippy-container {
  margin: 0 auto;
  background: rgb(37,37,37);
  max-width: 555px;
}

.card {
  color: #EEE;
  background: rgb(65,65,65);

}

.project-details {
  background-color: rgb(22,22,22);
  font-size: 20px;
}

.about-details {
  font-size: 16px;
  min-height: 500px;
  background: #DDD;
  color: #222;
}

.profile-img-wrap {
  max-width: 300px;
}

.profile-img {
  border: 2px solid #777;
}

.desc-box {
   max-width: 450px;
   font-size: 17px;
   font-size: clamp(15px, 4vw, 30px);
   overflow: scroll;
}

.flippy-back .card {
  background: rgb(65,65,65);
  background: linear-gradient(0deg, rgba(40,45,50,0.5) 0%, rgba(70,75,80,0.5) 100%);
  border: 1px solid #777;
}


@media only screen and (min-width: 992px) {
  .desc-box {
    font-size: 24px;
    font-size: clamp(20px, 2.2vw, 35px);
  }
}