html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  color: #EEE;
  
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.header-img {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

#particles-js {
  position: absolute;
  z-index: 1;
  height: 100%;
}

.header-wrapper {
  background:rgba(0, 0, 0, 0.65)
}

#full-page {
  max-width: 2000px;
  margin: auto;
}

.flippy-container {
  margin: 0 auto;
  background: rgb(37,37,37);
  max-width: 555px;
}

.card {
  color: #EEE;
  background: rgb(65,65,65);

}

.project-details {
  background-color: rgb(22,22,22);
  font-size: 20px;
}

.about-details {
  font-size: 16px;
  min-height: 500px;
  background: #DDD;
  color: #222;
}

.profile-img-wrap {
  max-width: 300px;
}

.profile-img {
  border: 2px solid #777;
}

.desc-box {
   max-width: 450px;
   font-size: 17px;
   line-height: 1.25;
   font-size: clamp(17px, 5vw, 30px);
   overflow: scroll;
}

.flippy-back .card {
  background: rgb(65,65,65);
  background: linear-gradient(0deg, rgba(40,45,50,0.5) 0%, rgba(70,75,80,0.5) 100%);
  border: 1px solid #777;
}

#Skills {
  z-index: 2;
}

#Skills .img-fo {
  width: 88%;
  max-width: 150px;
}

#Skills .img-be {
  width: 98%;
  max-width: 200px;
}


/*  large screen + */
@media only screen and (min-width: 992px) {
  .header-wrapper {
    width: 65%;
  }

  .desc-box {
    font-size: 24px;
    font-size: clamp(24px, 2vw, 33px);
  }
}
