body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  color: #EEE;
  
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;

}

header {
  background-color: #222;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

#full-page {
  background-color: #333;
  max-width: 2000px;
  margin: auto;
}

.flippy-container {
  max-width: 500px;
  margin: 0 auto;
}

.card {
  color: #EEE;
  background: #555;

}

.about-details {
  background: #DDD;
  color: #222;
}

.profile-img-wrap {
  max-width: 300px;
}

.profile-img {
    border: 2px solid #777;
}

.desc-box {
  max-width: 300px;
}
